* {
    padding: 0;
    margin: 0;
    border: 0
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30pt;
}

section {
    text-align: center;
}

.valores {
    margin: 20px;
}